IO_LOC  "clk_27m" 52;
IO_PORT "clk_27m" IO_TYPE=LVCMOS33;

IO_LOC  "ddc_clk_2m" 25;
IO_PORT "ddc_clk_2m" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC  "ddc_conv" 26;
IO_PORT "ddc_conv" IO_TYPE=LVCMOS33 DRIVE=8;

IO_LOC "led[0]" 10;
IO_PORT "led[0]" IO_TYPE=LVCMOS18;

IO_LOC "led[1]" 11;
IO_PORT "led[1]" IO_TYPE=LVCMOS18;

IO_LOC "led[2]" 13;
IO_PORT "led[2]" IO_TYPE=LVCMOS18;

IO_LOC "led[3]" 14;
IO_PORT "led[3]" IO_TYPE=LVCMOS18;

IO_LOC "led[4]" 15;
IO_PORT "led[4]" IO_TYPE=LVCMOS18;

IO_LOC "led[5]" 16;
IO_PORT "led[5]" IO_TYPE=LVCMOS18;


IO_LOC "ddc_dclk"  27;   // DDC112 DCLK
IO_PORT "ddc_dclk" IO_TYPE=LVCMOS33;

IO_LOC "ddc_dxmit" 28;   // DDC112 DXMIT
IO_PORT "ddc_dxmit" IO_TYPE=LVCMOS33;


// DDC112 inputs to FPGA
IO_LOC "ddc_dvalid" 29;  // DDC112 DVALID
IO_PORT "ddc_dvalid" IO_TYPE=LVCMOS33;

IO_LOC "ddc_dout"   30;  // DDC112 DOUT
IO_PORT "ddc_dout" IO_TYPE=LVCMOS33;

// On-board BL702 USB-UART
// FPGA TX -> BL702 RX -> PC COM port
IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33;


